<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>
            Sus productos
        </ng-template>
        
        <div *ngIf="(products$ | async) as products">
            <p *ngIf="products.length === 0">No hay productos</p>
            
                <div class="row" *ngFor="let product of (products| groupBy:'id')">
                    
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="box">
                            <img [src]="product.image" alt="" class="image">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="box">
                            {{product.title}}
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="box">
                            {{product.price}}
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="box">
                            Cantidad: {{product.count}}
                        </div>
                    </div>
                </div>
    
        </div>
        
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            Datos personales
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>
            Pago
        </ng-template>
    </mat-step>

</mat-horizontal-stepper>
