
{{ 'Hola mundo ' + (1 + 2) }}

<br />

{{ title }}

<br />

<input type="text" [(ngModel)]="title">

<br />

<div *ngIf="title === 'nicolas'; then store else welcome">
  Este es un div condicional
</div>

<ng-template #store>
  Mostrando contenido de nicolas
</ng-template>

<ng-template #welcome>
  Favor de teclear Nicolas
</ng-template>

<br />

<div [ngSwitch]="title">
  <p *ngSwitchCase="'pedro'">Es pedro</p>
  <p *ngSwitchCase="'jose'">Es jose</p>
  <p *ngSwitchCase="'rosa'">Es rosa</p>
  <p *ngSwitchDefault>No hay persona encontrada</p>
</div>

<br />

<button (click)="addItem()">Add Item</button>
<ul>
  <li *ngIf="itemsName.length===0">La lista está vacía</li>
  <li *ngFor="let name of itemsName; index as i">
    {{ i +' - ' +name }}
    <button (click)="deleteItem(i)">Delete Item</button>
  </li>
</ul>

<br>

<h3>ngFor example</h3>
<div *ngFor="let product of products" style="width: 100px; background-color: silver; margin:2px;">
  {{ product.title }} <br>
  <img [src]="product.image" width="100" /> <br>
  {{ product.price }}
  <br>
</div>

<br>
USANDO PIPES:
<input type="text" [(ngModel)]="power">
Exponente de 2={{ power | exponential }}
<br>
